:host {
  text-align: center;
  width: 100%;
}

img {
  filter: drop-shadow(10px 10px 0 white)
          drop-shadow(-10px 10px 0 white)
          drop-shadow(10px -10px 0 white)
          drop-shadow(-10px -10px 0 white);
  margin: 40px;
}

h2 {
  color: white;
  font-family: sans-serif;
  margin: 40px;
  overflow-y: hidden;
}

.pet__instructions {
  max-height: 0;
  text-align: center;
  transform: translateX(-100%);
  transition: transform 0.5s ease,
              max-height 0.5s ease 0.2s;
  width: 100%;
}

.pet__instructions.show {
  max-height: 50px;
  transform: translateX(0);
}
