<div class="shop__shop-item" [class.shop__shop-item--disabled]="!canBuy()" (click)="onBuy()">
  <div [class]="'shop__shop-item-image shop__shop-item-image--' + item.id" [class.shop__shop-item-image--unrevealed]="!item.revealed"></div>
  <div class="shop__shop-item-info" *ngIf="item.revealed">
    <h3> {{item.name}} </h3>
    <div> {{item.description}} </div>
    <div class="shop__shop-item-subtext"> {{item.subtext}} </div>
    <div class="shop__shop-item-price">
      <span *ngIf="buyAmount === 'max'" class="shop__shop-item-price-max"> Buy {{getAmount()}} for </span>
      <span> {{getPrice() | number}} Steps </span>
    </div>
  </div>
  <div class="shop__shop-item-info shop__shop-item-info--unrevealed" *ngIf="!item.revealed">
    ???
    <div class="shop__shop-item-price"> {{getPrice() | number}} Steps </div>
  </div>
  <div class="shop__shop-item-owned" *ngIf="item.revealed">
    {{item.owned}}
  </div>
</div>
