button {
  border-radius: 5px;
  flex-shrink: 0;
  height: 50px;
  min-width: 60px;
}

button:disabled {
  background: #DFDFDF;
}

h3 {
  margin: 0;
  padding-bottom: 5px;
  padding-top: 10px;
  text-transform: capitalize;
}

.shop__shop-item {
  background: white;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 10px 15px;
  padding: 5px 10px;
  user-select: none;
}

.shop__shop-item-owned {
  align-items: center;
  display: flex;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  justify-content: space-around;
  min-width: 60px;
}

.shop__shop-item-subtext {
  color: #3e3e3e;
  font-size: .8em;
  font-style: italic;
}

.shop__shop-item-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.shop__shop-item-image {
  align-self: flex-end;
  background-size: cover;
  flex-shrink: 0;
  height: 125px;
  margin: 0 10px -5px 0;
  width: 120px;
}

.shop__shop-item-price {
 margin-top: auto;
 padding-bottom: 10px;
}
