::ng-deep .invisible mat-dialog-container {
  background: transparent !important;
  box-shadow: none !important;
}

.speech {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  width: 100%;
}

.speech__speaker img {
  margin-bottom: -10px;
  margin-right: -10vw;
  max-width: 500px;
  width: 40vw;
}

.speech__Poseidon .speech__speaker img {
  width: 80vw;
  margin-left: -20vw;
  margin-right: -30vw;
  max-width: 1000px;
}

.speech__background {
  background-image: url('../../assets/text-area.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  bottom: 15px;
  height: 33vw;
  max-height: 421px;
  max-width: 900px;
  position: relative;
  width: 80vw;
}

.speech__text {
  font-size: 25px;
  font-weight: bold;
  left: 20%;
  line-height: 1.7;
  position: absolute;
  top: 50%;
  width: 70%;
}

.speech__name {
  bottom: 62%;
  color: white;
  font-size: 25px;
  font-weight: bold;
  left: 20%;
  position: relative;
  top: 28%;
  width: 30%;
}

.speech__name-subtext {
  font-size: 14px;
  color: #f05e23;
}


@media (max-width: 900px) {
  .speech__name {
    font-size: 20px;
    top: 26%;
  }

  .speech__name--subtext {
    font-size: 10px;
  }

  .speech__text {
    font-size: 20px;
  }
}

@media (max-width: 750px) {
  .speech__speaker img {
    margin-right: -20vw;
  }
  .speech__name {
    font-size: 16px;
    top: 26%;
  }

  .speech__text {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .speech__speaker {
    position: absolute;
    width: 100vw;
  }

  .speech__Poseidon .speech__speaker img {
    width: 200vw;
    margin-left: -45vw;
  }

  .speech__speaker img {
    bottom: 0;
    left: 0;
    position: absolute;
    margin-right: -35vw;
    width: 100vw;
  }

  .speech__background {
    width: 100vw;
    height: 47vw;
  }
}

@media (max-width: 450px) {
  .speech__name {
    font-size: 12px;
  }

  .speech__name-subtext {
    font-size: 8px;
  }

  .speech__text {
    font-size: 11px;
  }
}

