main {
  background-image: url('../assets/tartarus.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  overflow-x: hidden;
}

.pet-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  padding-bottom: 50px;
}

.inspired {
  align-self: flex-start;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: serif;
  font-size: 19px;
  position: fixed;
  bottom: -15px;
  left: 10px;
}

.inspired img {
  filter: drop-shadow(1px 1px 0 white)
          drop-shadow(-1px 1px 0 white)
          drop-shadow(1px -1px 0 white)
          drop-shadow(-1px -1px 0 white);
  height: 80px;
  margin-left: -8px;
  margin-top: -14px;
}

.step-counter {
  display: none;
  margin: 10px auto;
  width: 80%;
}

.shop__hamburger {
  background: rgba(0, 0, 0, .9);
  border-radius: 5px;
  display: none;
  padding: 5px;
  position: absolute;
  transform: translateY(-200%);
  transition: transform 0.5s ease;
}

.shop__hamburger.shop__hamburger--show {
  transform: translateY(0);
}

.shop.shop--show {
  transform: translateX(0);
}

@media (max-width: 900px) {
  .pet-container {
    width: 100%;
  }

  .inspired {
    flex-direction: row;
  }

  .inspired__text {
    padding-top: 10px;
    padding-right: 5px;
  }

  .step-counter {
    display: block;
  }

  .shop__hamburger {
    display: block;
    right: 15px;
    top: 15px;
  }

  .shop {
    transform: translateX(100%);
  }
}
