:host {
  background: rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 400px;
  transform: translateX(0);
  transition: transform 0.5s ease;
  width: 40%;
}

.shop__close-hamburger {
  background: white;
  border-radius: 5px;
  display: none;
  font-size: 40px;
  line-height: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  height: 50px;
  width: 50px;
}

.shop__close-hamburger div {
  margin-top: -5px;
}

.shop__step-counter {
  margin: 10px auto;
  width: 80%;
}

.shop__buy-amount {
  align-items: center;
  background: white;
  border-radius: 5px;
  display: flex;
  height: 50px;
  justify-content: space-around;
  margin: 10px auto;
  width: 80%;
}

.shop__buy-amount-multiplier {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.shop__buy-amount-multiplier:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.shop__buy-amount-multiplier:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.shop__buy-amount-multiplier--selected {
  font-weight: bold;
  background-color: #e2e2e2;
}

.shop__buy-amount-multiplier:not(:first-child) {
  border-left: 1px solid black;
}

.shop__item-list {
  overflow-y: scroll;
}

@media (max-width: 900px) {
  :host {
    position: absolute;
    right: 0;
  }

  .shop__close-hamburger {
    display: block;
  }

  .shop__step-counter {
    margin-right: 80px;
    width: 70%;
  }
}

@media (max-width: 600px) {
  :host {
    width: 100%;
  }
}
