.settings {
  height: 90vh;
  width: calc(80vw - 48px);
}

.settings__clear-data {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.settings__clear-data-text {
  color: #CC3232;
  font-weight: bold;
}

.settings__clear-data button {
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  padding: 15px 10px;
  background: #CC3232;
  font-size: 20px;
  border-radius: 5px;
}
